* {
    margin: 0;
    padding: 0;
    box-sizing:content-box ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 20px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
   
}
.menu > li > a{
 display: block;
 padding: 15px 20px;
 color: white;
 text-decoration: none;
}
.menu > li:hover{
    background-color: rgb(34, 125, 211);
}
.menu-vertical {
    position: absolute;
    background-color: rgb(0, 0, 0, .5);
    display: none;
    list-style: none;   
    width: 140px;
}
.menu li:hover .menu-vertical {
    display: block;
}
.menu-vertical li:hover {
    background-color: brown;
}
.menu-vertical li a {
   display: block;
   color: white;
   padding: 15px 15px 15px 20px;
   text-decoration: none;
}
