* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 body {
    *background-image: url(Cantuña.jpg);
    *background-size: cover;
 }




nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 20px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu > li > a{
 display: block;
 padding: 15px 20px;
 color: white;
 text-decoration: none;
}
.menu > li:hover{
    background-color: rgb(34, 125, 211);
}
.menu-vertical {
    position: absolute;
    background-color: rgb(0, 0, 0, .5);
    display: none;
    list-style: none;   
    width: 200px;
}
.menu li:hover .menu-vertical {
    display: block;
}
.menu-vertical li:hover {
    background-color: brown;
}
.menu-vertical li a {
   display: block;
   color: white;
   padding: 15px 15px 15px 20px;
   text-decoration: none;
}
/* footer */

footer{
    background: rgb(36, 34, 34);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    *text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
.contenedor-footer{
    flex-direction: column;
    border: none;
    justify-content: space-evenly;
}

.content-foo{
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4{
    *border: none;
}

.content-foo p{
    color: rgb(206, 13, 13);
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.titulo-final{
    font-size: 20px;
}
